factGenNoEden.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ville" type="xs:string"/>
	<xs:element name="unClient">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="destinataire"/>
				<xs:element ref="adr1"/>
				<xs:element ref="adr2"/>
				<xs:element ref="cp"/>
				<xs:element ref="ville"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="surface">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:byte">
					<xs:attribute name="unite" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="stotligne" type="xs:decimal"/>
	<xs:element name="ref" type="xs:string"/>
	<xs:element name="prenom" type="xs:string"/>
	<xs:element name="phtByUnit" type="xs:decimal"/>
	<xs:element name="nom" type="xs:string"/>
	<xs:element name="nbUnit">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:decimal">
					<xs:attribute name="typeUnit" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="lignes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ligne" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ligne">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="info"/>
				<xs:sequence>
					<xs:element ref="ref"/>
					<xs:element ref="designation"/>
					<xs:element ref="surface" minOccurs="0"/>
					<xs:element ref="phtByUnit"/>
					<xs:element ref="nbUnit"/>
					<xs:element ref="stotligne"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="info" type="xs:string"/>
	<xs:element name="factures">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="facture" maxOccurs="unbounded"/>
				<xs:element ref="clients"/>
			</xs:sequence>
			<xs:attribute name="villeets" use="required" type="xs:string"/>
			<xs:attribute name="rsets" use="required" type="xs:string"/>
			<xs:attribute name="logourl" use="required" type="xs:string"/>
			<xs:attribute name="dateeditionXML" use="required" type="xs:date"/>
			<xs:attribute name="cpets" use="required" type="xs:int"/>
			<xs:attribute name="adr2ets" use="required" type="xs:string"/>
			<xs:attribute name="adr1ets" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="facture">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="client" minOccurs="0"/>
				<xs:element ref="lignes"/>
			</xs:sequence>
			<xs:attribute name="type" use="required" type="xs:string"/>
			<xs:attribute name="refdevis" type="xs:byte"/>
			<xs:attribute name="numfacture" use="required" type="xs:byte"/>
			<xs:attribute name="idclient" use="required" type="xs:short"/>
			<xs:attribute name="datefacture" use="required" type="xs:date"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="destinataire">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="prenom"/>
				<xs:element ref="nom"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="designation" type="xs:string"/>
	<xs:element name="cp" type="xs:int"/>
	<xs:element name="clients">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="unClient"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="client">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="destinataire"/>
				<xs:element ref="adr1"/>
				<xs:element ref="adr2"/>
				<xs:element ref="cp"/>
				<xs:element ref="ville"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="adr2">
		<xs:complexType/>
	</xs:element>
	<xs:element name="adr1" type="xs:string"/>
</xs:schema>
