factGen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:include schemaLocation="clientGen.xsd"/>
	<xs:complexType name="T_surface">
		<xs:simpleContent>
			<xs:extension base="xs:byte">
				<xs:attribute ref="unite" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_nbUnit">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute ref="typeUnit" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="T_lignes">
		<xs:sequence>
			<xs:element ref="ligne" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_ligne">
		<xs:choice>
			<xs:element ref="info"/>
			<xs:sequence>
				<xs:element ref="ref"/>
				<xs:element ref="designation"/>
				<xs:element ref="surface" minOccurs="0"/>
				<xs:element ref="phtByUnit"/>
				<xs:element ref="nbUnit"/>
				<xs:element ref="stotligne"/>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="T_factures">
		<xs:sequence>
			<xs:element ref="facture" maxOccurs="unbounded"/>
			<xs:element ref="clients"/>
		</xs:sequence>
		<xs:attribute ref="villeets" use="required"/>
		<xs:attribute ref="rsets" use="required"/>
		<xs:attribute ref="logourl" use="required"/>
		<xs:attribute ref="dateeditionXML" use="required"/>
		<xs:attribute ref="cpets" use="required"/>
		<xs:attribute ref="adr2ets" use="required"/>
		<xs:attribute ref="adr1ets" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_facture">
		<xs:sequence>
			<xs:element ref="client" minOccurs="0"/>
			<xs:element ref="lignes"/>
		</xs:sequence>
		<xs:attribute ref="type" use="required"/>
		<xs:attribute ref="refdevis"/>
		<xs:attribute ref="numfacture" use="required"/>
		<xs:attribute ref="idclient" use="required"/>
		<xs:attribute ref="datefacture" use="required"/>
	</xs:complexType>

	<xs:attribute name="villeets" type="xs:string"/>
	<xs:attribute name="unite" type="xs:string"/>
	<xs:attribute name="typeUnit" type="xs:string"/>
	<xs:attribute name="type" type="xs:string"/>
	<xs:attribute name="rsets" type="xs:string"/>
	<xs:attribute name="refdevis" type="xs:byte"/>
	<xs:attribute name="numfacture" type="xs:byte"/>
	<xs:attribute name="logourl" type="xs:string"/>
	<xs:attribute name="idclient" type="xs:short"/>
	<xs:attribute name="datefacture" type="xs:date"/>
	<xs:attribute name="dateeditionXML" type="xs:date"/>
	<xs:attribute name="cpets" type="xs:int"/>
	<xs:attribute name="adr2ets" type="xs:string"/>
	<xs:attribute name="adr1ets" type="xs:string"/>


	<xs:element name="surface" type="T_surface"/>
	<xs:element name="stotligne" type="xs:decimal"/>
	<xs:element name="ref" type="xs:string"/>

	<xs:element name="phtByUnit" type="xs:decimal"/>
	
	<xs:element name="nbUnit" type="T_nbUnit"/>
	<xs:element name="lignes" type="T_lignes"/>
	<xs:element name="ligne" type="T_ligne"/>
	<xs:element name="info" type="xs:string"/>
	<xs:element name="factures" type="T_factures"/>
	<xs:element name="facture" type="T_facture"/>

	<xs:element name="designation" type="xs:string"/>

</xs:schema>
