xsl/facturationtransfert.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2009 sp1 (http://www.altova.com)-->
<!ELEMENT statFile ((facturesStat))>
<!ELEMENT prixAvgArticle (#PCDATA)>
<!ATTLIST prixAvgArticle
	refproduits CDATA #REQUIRED
>
<!ELEMENT nbLignesFact (#PCDATA)>
<!ELEMENT nbLignes (#PCDATA)>
<!ELEMENT ligneAvgFact (#PCDATA)>
<!ELEMENT ligneAvg (#PCDATA)>
<!ELEMENT facturesStat ((avgNbUnitFacture, ligneAvgFact, nbLignesFact))>
<!ELEMENT factures ((facture+))>
<!ELEMENT facture ((prixAvgArticle, ligneAvg, nbLignes))>
<!ATTLIST facture
	idfacture CDATA #REQUIRED
	nomClient CDATA #REQUIRED
>
<!ELEMENT facturation ((statFile, factures))>
<!ATTLIST facturation
	dateTransfert CDATA #REQUIRED
>
<!ELEMENT avgNbUnitFacture (#PCDATA)>
<!ATTLIST avgNbUnitFacture
	refproduits CDATA #REQUIRED
>
